@page
@using FlashFramework.Modules.EmailModule.Smtp.Pages.Shared.Sample;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Email Settings";
}

<form method="post">
    <input type="hidden" asp-for="Options.UseSsl" value="@Model.Options.UseSsl" />
    <div class="form-group">
        <label asp-for="Options.Host">Host</label>
        <input class="form-control" asp-for="Options.Host" value="@Model.Options.Host" />
    </div>
    <div class="form-group">
        <label asp-for="Options.Port">Port</label>
        <input class="form-control" asp-for="Options.Port" value="@Model.Options.Port" />
    </div>
    <div class="form-group">
        <label asp-for="Options.UserName">User Name</label>
        <input class="form-control" asp-for="Options.UserName" placeholder="youremail@mail.com" value="@Model.Options.UserName" />
    </div>
    <div class="form-group">
        <label asp-for="Options.Password">Password</label>
        <input class="form-control" asp-for="Options.Password" type="password" value="@Model.Options.Password" />
    </div>
    <div class="form-group">
        <label asp-for="Options.From">From</label>
        <input class="form-control" asp-for="Options.From" placeholder="Your name" value="@Model.Options.From" />
    </div>
    <div class="form-group">
        <label asp-for="Options.FromAddress">From Address</label>
        <input class="form-control" asp-for="Options.FromAddress" placeholder="youremail@mail.com" value="@Model.Options.FromAddress" />
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Update</button>
</form>