@page
@using FlashFramework.Common.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <h5 class="display-6">There are @Model.Modules.Count() modules</h5>
    <ul>
        @foreach (var module in Model.Modules)
        {
            <li>@module.Name: @module.Pages.Count() pages, @module.IndexComponents.Count() components</li>
        }
    </ul>
</p>

<div>
    <h5 class="display-6">Dynamic components</h5>
    @foreach (var component in Model.Modules.SelectMany(m => m.IndexComponents))
    {
        <div>
            @{
                var model = new IndexComponentModel
                {
                    Number = 1
                };
            }
            @await Component.InvokeAsync(component.Name, model)
        </div>
    }
</div>

<div>
    <h5 class="display-6">Test send email</h5>

    @if (Model.HasEmailService)
    {
        <form method="post" asp-page-handler="SendEmail">
            <div class="form-group">
                <label asp-for="SendEmailModel.ToName">To Name</label>
                <input class="form-control" asp-for="SendEmailModel.ToName" />
            </div>
            <div class="form-group">
                <label asp-for="SendEmailModel.ToAddress">To Address</label>
                <input class="form-control" asp-for="SendEmailModel.ToAddress" />
            </div>
            <div class="form-group">
                <label asp-for="SendEmailModel.Subject">Subject</label>
                <input class="form-control" asp-for="SendEmailModel.Subject" />
            </div>
            <div class="form-group">
                <label asp-for="SendEmailModel.Body">Body</label>
                <input class="form-control" asp-for="SendEmailModel.Body" />
            </div>
            <hr />
            <p>@Model.SendEmailMessage</p>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    }
    else
    {
        <p>No email service available</p>
    }
</div>